app-shell {
  --grid-offset: centre;
  --column-width: --xs-sm-md-lg-xl-up(21rem, 12rem, 10rem, 15rem, 10rem);
  --repeat: --xs-sm-md-lg-xl-up(1, 2, 4, 4, 6);
  --url: url("../../images/bg.svg");

  --grid-horizontal-color: --opacity(var(--secondary-600), 0.2);
  --grid-vertical-color: --opacity(var(--primary-600), 0.1);

  background-image: paint(grid), var(--grain-uri);
  column-gap: --xs-sm-md-lg-xl-up(0rem, 1rem, 1rem, 1rem, 3rem);
  display: grid;
  grid-template-columns: --grid-auto(var(--repeat), var(--column-width));
  grid-template-rows: --grid-row-base();
  row-gap: var(--spacing-xl);
  min-height: 100dvh;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: stretch;
    height: 100%;
    z-index: -1;
    display: none;
    background-image: var(--grain-uri);
  }
}
