@scope {
  & {
    background-image: var(--horizontal-lines);
    min-height: 3rem;
    padding: 2rem;
    width: max-content;
  }

  h1 {
    --padding: calc(2rem - 1cap);

    color: var(--dark-400);
    text-align: center;
    padding-block-start: var(--padding);
    position: relative;
    margin: 0;
    display: inline-block;

    &::before {
      content: "";
      display: block;
      height: var(--padding);
      margin-block-start: calc(-1 * var(--padding));
      position: absolute;
      background-color: oklch(0.8 0.15 130 / 0.5);
      width: 100%;
      top: var(--padding);
      left: 0;
    }
  }
}
