@scope {
  & {
    grid-column: content;
  }

  pre {
    background-color: #0d1117;
    color: #f0f6fc;
    margin: unset;
    padding: var(--spacing-xl);
    height: var(--round-up);

    code {
      background-color: transparent;
      font-family: var(--font-monaspace);
      font-palette: --github;
      font-size: var(--font-size-base);
      line-height: 1.8;
      padding: 0;
      white-space: pre-wrap;
    }
  }
}
