@scope {
  & {
    /* grid-column: content; */
    width: max-content;
    min-width: 38rem;
    margin-block: var(--spacing-base) var(--spacing-md);
  }

  pre {
    background-color: var(--light-200);
    color: var(--dark-500);
    margin: unset;
    padding: var(--spacing-lg);
    height: var(--round-up);

    code {
      background-color: transparent;
      font-family: var(--font-monaspace);
      font-palette: --github;
      font-size: var(--font-size-base);
      line-height: 1.8;
      padding: 0;
      white-space: pre-wrap;
    }
  }
}
