@scope {
  & {
    margin-block: 0 2rem;
    padding-block-start: calc(round(1cap, 2rem) - 1cap);
    text-wrap: balance;

    &.dark {
      color: var(--dark-200);
    }

    &.light {
      color: var(--light-200);
    }

    &.variant-h3 {
      font-size: var(--font-scaled-lg);
    }
  }
}
