@scope {
  & {
    --baseline-icon-limited-front: #f09409;
    --baseline-icon-limited-back: #c6c6c6;
    --baseline-icon-widely-front: #1ea446;
    --baseline-icon-widely-back: #c4eed0;
    --baseline-icon-newly-front: #1b6ef3;
    --baseline-icon-newly-back: #a8c7fa;
    --baseline-icon-no_data: #909090;

    grid-column: content;
  }

  details {
    overflow: hidden;
  }

  summary {
    background: var(--light-100);
    cursor: pointer;
    gap: var(--spacing-base);
    height: 7rem;
    list-style: none;
    padding: var(--spacing-md) var(--spacing-lg);
    display: grid;
    grid-template-columns: 1fr auto;

    &::-webkit-details-marker {
      display: none;
    }
  }

  .title {
    display: grid;
    grid-template-columns: 1fr;
    font-size: var(--font-scaled-base);
    gap: var(--spacing-base);

    strong {
      font-weight: var(--font-weight-semibold);
    }
  }

  .feature-meta {
    display: flex;
    align-items: center;
    gap: var(--spacing-sm);
    justify-content: start;
  }

  .baseline-badge {
    background: var(--badge-bg, #0969da);
    color: var(--light-100);
    padding: 4px 6px;
    font-size: var(--font-scaled-sm);
    font-weight: var(--font-weight-medium);
  }

  .content {
    background-color: var(--light-100);
    background-image: paint(grid);
    height: var(--round-up);
    padding-block: var(--spacing-md) var(--spacing-xl);
    padding-inline: var(--spacing-lg);
  }

  .baseline-status-browsers {
    display: flex;
    gap: var(--spacing-base);
    font-size: 0;
    margin: 0 0 0 auto;
    /* background: yellow; */

    svg {
      width: 2rem;
      height: auto;

      &[aria-label="Not supported"] {
        color: red;
      }
      &[aria-label="Supported"] {
        color: green;
        height: 2rem;
      }
      &[aria-label="Unknown"] {
        color: orange;
      }
    }
  }

  .browser-icon {
    display: flex;
    align-items: center;
    gap: 4px;
    font-size: 0;
  }

  .support-available {
    color: var(--baseline-icon-widely-front, #1ea446);
  }
  .support-unavailable {
    color: var(--baseline-icon-limited-front, #f09409);
  }
  .support-no_data {
    color: var(--baseline-icon-no_data, #909090);
  }

  &[data-status="newly"] {
    --badge-bg: #1b6ef3;
  }

  &[data-status="limited"] {
    --badge-bg: #f09409;
  }

  &[data-status="widely"] {
    --badge-bg: #1ea446;
  }
}
