content-with-sidebar {
  --areas: --xs-sm-md-lg-xl-up(
    "main main main" "sidebar sidebar sidebar",
    "main main main main" "sidebar sidebar sidebar sidebar",
    "main main main main main main"
      "sidebar sidebar sidebar sidebar sidebar sidebar",
    "main main main main sidebar sidebar",
    "main main main main sidebar sidebar"
  );

  background: --background(diagonal);
  column-gap: --xs-md-up(0, 3rem);
  column-rule: 3rem solid --opacity(var(--primary-500), 0.02);
  display: grid;
  grid-column: --xs-xl-up(breakout, content);
  grid-template-areas: var(--areas);
  grid-template-columns: subgrid;
  height: stretch;
  view-transition-name: attr(id type(<custom-ident>), none);
}

content-main {
  background-color: var(--light-100);
  background-image: paint(grid), var(--grain-uri);
  display: grid;
  grid-area: main;
  grid-auto-rows: min-content;
  grid-template-columns: 1fr;
  height: stretch;
  padding: --xs-sm-up(1rem, 3rem);
}

content-sidebar {
  align-self: start;
  background-color: var(--light-100);
  background-image: paint(grid), var(--grain-uri);
  display: grid;
  gap: var(--spacing-base);
  grid-area: sidebar;
  grid-template-columns: 1fr;
  padding: --xs-lg-up(1rem, 2rem);
}
