.link-logo {
  --background-colour: var(--secondary-800);

  background-color: var(--background-colour);
  display: flex;
  transition: background-color 0.3s ease-in-out;
  text-decoration: none;
  max-height: 4rem;
  width: stretch;
  view-transition-name: logo-link;

  @container scroll-state (stuck: top) {
    --opacity: 1;
  }

  &:hover {
    --background-colour: var(--secondary-900);
  }
}
