.wrapper-features {
  background: --background(diagonal);
  display: flex;
  flex-direction: column;
  grid-column: --xs-xl-up(breakout, content);
  row-gap: 2rem;
  row-rule: 2rem solid --opacity(var(--primary-500), 0.06);
}
