/* prettier-ignore */
.wrapper-index-section {
  background: --background(crosshatch);
  column-gap: --xs-lg-up(1rem, var(--spacing-lg));
  display: grid;
  grid-column: --xs-xl-up(breakout, content);
  grid-template-columns: subgrid [header-start] [header-end];
  row-gap: var(--spacing-md);
}

.wrapper-index-header {
  --mode: dark;

  grid-column: header;
  display: grid;
  grid-template-columns: 1fr;
}
