@scope {
  & {
    display: grid;
    grid-template-columns: subgrid;
    grid-column: content;
    gap: 1rem;
  }

  .card {
    display: grid;
    grid-template-rows: subgrid [heading] [body] [footer];
    grid-row: span 3;
    grid-column: 1 / -1;
    background-color: var(--light-100);
    background-image: paint(grid), var(--grain-uri);
    padding: var(--spacing-lg);
    view-transition-name: attr(id type(<custom-ident>), none);
    gap: var(--spacing-md);
    max-height: var(--round-up);
    color: var(--dark-900);
  }
}
