@scope {
  & {
    display: grid;
    gap: var(--spacing-base);
    grid-auto-rows: min-content;
    grid-column: content;
    grid-template-columns: subgrid;

    box-grid {
      --grid-offset: left;
      --grid-column: span 3;
    }
  }
}
