main-content {
  display: grid;
  grid-column: full;
  grid-row: main;
  grid-template-columns: subgrid;
  row-gap: attr(row-gap rem, 5rem);
}

main {
  display: grid;
  grid-template-columns: subgrid;
  grid-area: main / breakout;
  row-gap: 4rem;
}

flex-items {
  align-items: center;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 1rem;
  grid-column: 4 / -4;
  justify-content: space-between;
}

flex-item {
  background-color: var(--color-secondary);
  border-radius: var(--border-radius);
  view-transition-name: attr(id type(<custom-ident>), none);
  width: calc-size(max-content, round(up, size, 1rem));
}

contain-items {
  display: grid;
  grid-template-columns: subgrid;
  grid-column: content;
  row-gap: var(--spacing-xl);
}
