blockquote {
  hanging-punctuation: first last;
}

:where(button, a) {
  &:focus-visible {
    outline: 2px dashed var(--accent);
    outline-offset: var(--outline-offset);
  }
}

:where(p, li) > code {
  background-color: --opacity(var(--light-200), 0.8);
  color: var(--triad-2);
  font-family: inherit;
  font-weight: var(--font-weight-medium);
  padding: calc(var(--spacing-base) - 1cap) 0.4em;
}

@scope (.typography-text) {
  &.dark {
    color: var(--dark-200);
  }

  &.light {
    color: var(--light-200);
  }

  &.variant-sm {
    font-size: var(--font-scaled-sm);
    margin-block: 0 var(--spacing-md);
    padding-block-start: calc(round(1cap, 2rem) - 1cap);
    text-wrap: pretty;
  }

  &.variant-base {
    font-size: var(--font-scaled-base);
    line-height: 2;
    margin-block: 0 var(--spacing-md);
    padding-block-start: calc(1rem - 1cap);
    text-wrap: pretty;
    max-width: 60ch;
  }

  &.variant-md {
    font-size: var(--font-scaled-md);
    margin-block: 0 var(--spacing-xl);
    padding-block-start: calc(round(1cap, 2rem) - 1cap);
    text-wrap: pretty;
  }

  &.variant-lg {
    font-size: var(--font-scaled-lg);
    margin-block: 0 var(--spacing-md);
    padding-block-start: calc(round(1cap, 2rem) - 1cap);
    text-wrap: balance;
    line-height: 1.32;
  }

  &.variant-xl {
    font-size: var(--font-scaled-xl);
    margin-block: 0 var(--spacing-xl);
    padding-block-start: calc(round(1cap, 2rem) - 1cap);
    text-wrap: balance;
  }

  &.variant-xxl {
    font-size: var(--font-scaled-xxl);
    margin-block: 0 var(--spacing-xl);
    padding-block-start: calc(round(1cap, 2rem) - 1cap);
    text-wrap: balance;
  }

  &.variant-hero {
    font-size: var(--font-scaled-xl);
    font-weight: 800;
    letter-spacing: -0.025em;
    line-height: calc(1.63 * 1cap);
    margin-block: 0 var(--spacing-md);
    padding-block-start: calc(3rem - 1cap);
    position: relative;
    right: 0.1ch;
    text-wrap: balance;
  }
}

/* https://blog.glyphdrawing.club/font-with-built-in-syntax-highlighting/ */
/* 0  keywords, {} */
/* 1  comments */
/* 2  literals */
/* 3  numbers */
/* 4  functions, [] */
/* 5  js others */
/* 6  not in use */
/* 7  inside quotes, css properties, few chars */
/* 8  few chars */

@font-palette-values --bash {
  font-family: "Monaspace";
  override-colors:
    0 hsl(225 100% 40%),
    1 hsl(250 100% 80%),
    2 hsl(225 100% 40%),
    3 hsl(225 100% 40%),
    4 hsl(270 50% 40%),
    5 hsl(210 40% 2%),
    6 hsl(210 10% 30%),
    7 hsl(327 100% 54%),
    8 hsl(120 100% 50%);
}

@font-palette-values --css {
  font-family: "Monaspace";
  override-colors:
    0 red,
    1 lightblue,
    2 yellow,
    3 purple,
    4 green,
    5 orange,
    6 black,
    7 hotpink,
    8 lime;
}

@font-palette-values --html {
  font-family: "Monaspace";
  override-colors:
    0 hotpink,
    1 lightblue,
    2 aqua,
    3 purple,
    4 pink,
    5 salmon,
    6 black,
    7 hotpink,
    8 purple;
}

@font-palette-values --js {
  font-family: "Monaspace";
  override-colors:
    0 red,
    1 lightblue,
    2 yellow,
    3 purple,
    4 green,
    5 orange,
    6 black,
    7 hotpink,
    8 lime;
}
