@scope {
  & {
    display: grid;
    gap: var(--spacing-base);
    /* grid-area: centre / nav; */
    grid-column: nav;
    grid-row: centre-start / full-end;
    grid-auto-flow: column;
    justify-content: end;
  }

  .nav-item {
    --background-colour: var(--secondary-800);
    --colour: var(--light-100);
    --transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;

    align-items: center;
    background-color: var(--background-colour);
    color: var(--colour);
    display: flex;
    font-size: var(--font-scaled-base);
    min-width: var(--round-up);
    place-content: center;
    text-align: center;
    text-decoration: none;
    transition: var(--transition);
    width: stretch;

    &.with-text {
      padding-inline: var(--spacing-base);
    }

    &.with-icon {
      background-color: var(--secondary-800);

      svg {
        height: 1.1rem;
        width: 1.1rem;
      }

      &:hover {
        --colour: var(--primary-100);
      }
    }

    &.active {
      --background-colour: var(--secondary-900);
      --colour: var(--primary-300);
    }

    &:hover {
      --background-colour: var(--primary-300);
      --colour: var(--dark-100);
    }
  }
}
