@scope {
  & {
    background-color: var(--nav-background, var(--light-100));
    display: var(--nav-display, none);
    gap: var(--spacing-base);
    grid-auto-flow: column;
    grid-column: nav;
    grid-row: full;
    justify-content: end;
    margin: 0 0 0 auto;
    max-width: max-content;
    padding: var(--nav-padding, var(--spacing-md));
    padding: var(--spacing-base);
    position-anchor: var(--nav-position-anchor, --buttonToggle);
    position: var(--nav-position, absolute);
    right: var(--nav-right, anchor(right));
    top: var(--nav-top, anchor(bottom));
    z-index: 1;

    &:not([hidden]) {
      --nav-display: grid;
    }

    @media screen and (width >= 1480px) {
      --nav-display: grid;
      --nav-background: transparent;
      --nav-padding: 0;
      --nav-position: static;
      --nav-position-anchor: unset;
      --nav-right: unset;
      --nav-top: unset;
    }
  }

  .nav-item {
    --background-colour: var(--secondary-700);
    --colour: var(--light-100);
    --transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;

    align-items: center;
    background-color: var(--background-colour);
    color: var(--colour);
    display: flex;
    font-size: var(--text-base);
    text-align: center;
    text-decoration: none;
    transition: var(--transition);
    min-width: 7rem;
    display: flex;
    justify-content: center;
    gap: 1rem;

    svg {
      height: 1.1rem;
      width: 1.1rem;
    }

    &.active {
      --background-colour: var(--secondary-900);
      --colour: var(--primary-300);
    }

    &:hover {
      --background-colour: var(--secondary-800);
      --colour: var(--light-100);
    }
  }
}
