@scope {
  & {
    --grid-vertical-color: oklch(from var(--light-200) l c h / 0.08);
    --grid-horizontal-color: oklch(from var(--light-200) l c h / 0.08);

    background: paint(grid) var(--secondary-900);
    display: grid;
    grid-area: header / full;
    grid-template-columns: [header-logo] 1fr;
    grid-template-rows: 1fr 1fr;
    position: sticky;
    top: 0;
    view-transition-name: header;
    z-index: 1;

    @media screen and (width >= 480px) {
      grid-template-columns: [header-logo] 1fr [button-toggle] 6rem;
      grid-template-rows: 1rem [centre-start] 3rem [centre-end] 1rem;
      height: auto;
      row-gap: 0;
    }

    @media screen and (width >= 768px) {
      grid-template-columns: [header-logo] 1fr [button-toggle] 6rem;
      height: var(--round-up);
      /* row-gap: var(--spacing-base); */
      row-gap: 0;
    }

    @media screen and (width >= 1280px) {
      grid-template-columns: subgrid [] [logo-start] [] [logo-end nav-start] [] [] [] [nav-end] [];
    }

    @media screen and (width >= 1480px) {
      grid-template-columns: subgrid [] [] [logo-start] [logo-end nav-start] [] [] [] [] [nav-end] [] [];
    }
  }
}
