:where(html) {
  --box-hero-line-color: rgb(from var(--secondary-100) r g b / 0.7);
  --box-hero-l: 0.625rem;
  --box-hero-w: 0.0625rem;
  --box-hero-bg-position: 0 0;
  --box-hero-bg-size: 1rem 1rem;
  --diagonal-1: repeating-linear-gradient(
      45deg,
      transparent,
      transparent var(--box-hero-l),
      var(--box-hero-line-color) var(--box-hero-l),
      var(--box-hero-line-color) calc(var(--box-hero-l) + var(--box-hero-w))
    )
    0 0 / var(--box-hero-bg-size);
  --diagonal-2: repeating-linear-gradient(
      -45deg,
      transparent,
      transparent var(--box-hero-l),
      var(--box-hero-line-color) var(--box-hero-l),
      var(--box-hero-line-color) calc(var(--box-hero-l) + var(--box-hero-w))
    )
    0 0 / var(--box-hero-bg-size);
  --crosshatch: var(--diagonal-1), var(--diagonal-2);
  --horizontal-lines: repeating-linear-gradient(
    0deg,
    transparent 0,
    transparent calc(1rem - 1px),
    var(--light-300) calc(1rem - 1px),
    var(--light-300) 1rem
  );
}
