:where(html) {
  /* --box-hero-line-color: rgb(from var(--secondary-100) r g b / 0.7); */
  --box-hero-line-color: rgb(from var(--secondary-700) r g b / 0.3);
  --box-hero-grid-size: 1rem;
  --box-hero-line-width: 1px;
  --diagonal-1: repeating-linear-gradient(
    45deg,
    transparent 0,
    transparent
      calc(var(--box-hero-grid-size) * 0.707 - var(--box-hero-line-width)),
    var(--box-hero-line-color)
      calc(var(--box-hero-grid-size) * 0.707 - var(--box-hero-line-width)),
    var(--box-hero-line-color) calc(var(--box-hero-grid-size) * 0.707),
    transparent calc(var(--box-hero-grid-size) * 0.707),
    transparent calc(var(--box-hero-grid-size) * 1.414)
  );
  --diagonal-2: repeating-linear-gradient(
    -45deg,
    transparent 0,
    transparent
      calc(var(--box-hero-grid-size) * 0.707 - var(--box-hero-line-width)),
    var(--box-hero-line-color)
      calc(var(--box-hero-grid-size) * 0.707 - var(--box-hero-line-width)),
    var(--box-hero-line-color) calc(var(--box-hero-grid-size) * 0.707),
    transparent calc(var(--box-hero-grid-size) * 0.707),
    transparent calc(var(--box-hero-grid-size) * 1.414)
  );
  --crosshatch: var(--diagonal-1), var(--diagonal-2);
  --horizontal-lines: repeating-linear-gradient(
    0deg,
    transparent 0,
    transparent calc(1rem - 1px),
    var(--light-300) calc(1rem - 1px),
    var(--light-300) 1rem
  );
}
