:where(html) {
  --box-hero-line-color: rgb(from var(--secondary-100) r g b / 0.7);
  --box-hero-l: 0.625rem;
  --box-hero-w: 0.0625rem;
  --box-hero-bg-position: 0 0;
  --box-hero-bg-size: 1rem 1rem;
  --diagonal-1: repeating-linear-gradient(
    45deg,
    transparent,
    transparent var(--box-hero-l),
    var(--box-hero-line-color) var(--box-hero-l),
    var(--box-hero-line-color) calc(var(--box-hero-l) + var(--box-hero-w))
  );
  --diagonal-2: repeating-linear-gradient(
    -45deg,
    transparent,
    transparent var(--box-hero-l),
    var(--box-hero-line-color) var(--box-hero-l),
    var(--box-hero-line-color) calc(var(--box-hero-l) + var(--box-hero-w))
  );
  --crosshatch: var(--diagonal-1), var(--diagonal-2);
}
