@property --gradient-position {
  syntax: "<percentage>";
  inherits: false;
  initial-value: 100%;
}

@property --color {
  syntax: "<color>";
  inherits: false;
  initial-value: grey;
}

label {
  display: flex;
  font-size: var(--font-size-base);
  font-weight: var(--font-weight-bold);
  gap: 1rem;
  padding-block-start: calc(1rem - 1cap);
}

input {
  --w: calc(100% - 1rem);
  --grad: linear-gradient(
    to right,
    var(--light-700) var(--w),
    var(--color) var(--w)
  );

  background-color: --opacity(var(--light-100), 0.5);
  border-image: var(--grad) 16;
  border-right-width: 1rem;
  color: var(--dark-500);
  display: block;
  field-sizing: content;
  margin-block-end: 1rem;
  max-width: 100%;
  min-width: 15rem;
  padding: 0 1rem;
  transition: --color 0.4s ease-in-out;
  font-size: var(--font-scaled-base);
  font-family: var(--font-family-base);
  height: 3rem;
  line-height: 3rem;

  /* Add placeholder-shown */
  &::placeholder {
    color: var(--dark-200);
    font-size: var(--font-scaled-base);
    font-family: var(--font-family-base);
  }

  &:focus {
    --color: var(--color-primary);

    border-radius: 0;
    outline-offset: -2px;
    outline-style: solid;
    outline-width: medium;
  }

  &:valid {
    --color: var(--success-base);
  }

  &:user-invalid {
    --color: var(--error-base);
  }
}

/* Add a custom message using the title attribute */
input:invalid:focus::after,
textarea:invalid:focus::after {
  content: attr(title);
  color: red;
  font-size: 0.9em;
  position: absolute;
  margin-top: 5px;
}
