/* prettier-ignore */
header {
  --grid-vertical-color: --opacity(var(--light-200), 0.08);
  --grid-horizontal-color: --opacity(var(--light-200), 0.08);
  --grid-col: --xs-sm-md-lg-xl-up(
    /* xs */
    [header-logo] 1fr,
    /* sm */
    [header-logo] 1fr,
    /* md */
    [header-logo] 1fr,
    /* lg */
    subgrid [] [logo-start] [] [logo-end nav-start] [] [] [] [nav-end] [],
    /* xl */
    subgrid [] [] [logo-start] [logo-end nav-start] [] [] [] [] [nav-end] [] []
  );

  --grid-row: --xs-lg-up(
    [header-logo] 1fr,
    [full-height-start] 0rem min-content 0rem [full-height-end]
  );

  background: paint(grid) var(--secondary-900);
  display: grid;
  grid-area: header / full;
  grid: var(--grid-row) / var(--grid-col);
  height: --xs-lg-up(var(--round-up), auto);
  position: sticky;
  row-gap: --xs-lg-up(0, var(--spacing-base));
  top: 0;
  view-transition-name: header;
  z-index: 1;
}
