header-nav-item {
  --state: attr(state type(<custom-ident>));
  --variant: attr(variant type(<custom-ident>));

  display: flex;
  width: if(
    style(--variant: compact): var(--spacing-lg) ; else: var(--spacing-xxl)
  );
}

.menu-item-link {
  --background-colour: var(--secondary-800);
  --colour: var(--light-100);

  background-color: var(--background-colour);
  color: var(--colour);
  display: flex;
  font-size: var(--font-scaled-sm);
  font-weight: var(--font-weight-bold);
  padding-block: calc(1rem - calc(1cap / 2));
  place-content: center;
  text-align: center;
  text-decoration: none;
  transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
  width: stretch;

  @container style(--state: active) {
    --background-colour: var(--secondary-900);
    --colour: var(--primary-300);
  }

  @container style(--variant: compact) {
    align-items: end;
    padding: unset;
  }

  &:hover {
    --background-colour: var(--primary-300);
    --colour: var(--dark-100);
  }
}
