@scope {
  .select-wrap {
    display: grid;
    grid-template-columns: auto 1fr;
    align-items: center;
    background: var(--dark-500);
    min-width: var(--round-up);
  }

  .select-label {
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    width: max-content;
    height: max-content;
    min-height: 2rem;
    min-width: 4rem;
  }

  .select {
    appearance: none;
    appearance: base-select;
    -webkit-appearance: none;
    -moz-appearance: none;
    padding: 0.5rem 0.75rem;
    border: 1px solid var(--light-300);
    background: var(--light-100);
    border-radius: 0px;
    font-size: var(--text-sm);
    color: var(--dark-500);
    height: 2rem;
    display: flex;
    line-height: 0.8;
    /* Safari */
    background-image: none;
    outline: none;
    box-sizing: border-box;
  }
}
