/**
 * Breakpoints:
 * - xs: 0 > 
 * - sm: 480px >
 * - md: 768px >
 * - lg: 1280px >
 * - xl: 1480px >
 */

@function --xs-sm-up(--xs, --sm) {
  result: var(--xs);

  @media screen and (width >= 480px) {
    result: var(--sm);
  }
}

@function --xs-md-up(--xs, --md) {
  result: var(--xs);

  @media screen and (width >= 768px) {
    result: var(--md);
  }
}

@function --xs-lg-up(--xs, --lg) {
  result: var(--xs);

  @media screen and (width >= 1280px) {
    result: var(--lg);
  }
}

@function --xs-xl-up(--xs, --xl) {
  result: var(--xs);

  @media screen and (width >= 1480px) {
    result: var(--xl);
  }
}

@function --xs-md-lg-up(--xs, --md, --lg) {
  result: var(--xs);

  @media screen and (width >= 768px) {
    result: var(--md);
  }

  @media screen and (width >= 1280px) {
    result: var(--lg);
  }
}

@function --xs-sm-md-lg-xl-up(--xs, --sm, --md, --lg, --xl) {
  result: var(--xs);

  @media screen and (width >= 480px) {
    result: var(--sm);
  }

  @media screen and (width >= 768px) {
    result: var(--md);
  }

  @media screen and (width >= 1280px) {
    result: var(--lg);
  }

  @media screen and (width >= 1480px) {
    result: var(--xl);
  }
}

@function --mobile-first(
  --sm,
  --md: var(--sm),
  --lg: var(--md),
  --xl: var(--lg)
) {
  result: var(--sm);

  @media (min-width: 768px) {
    result: var(--md);
  }
  @media (min-width: 1280px) {
    result: var(--lg);
  }
  @media (min-width: 1600px) {
    result: var(--xl);
  }
}
