/* prettier-ignore */
@function --font(--level: body, --variant: base) {
  result: normal if(
    style(--level: body): --get-font-weight-body(var(--variant));
    
    else: --get-font-weight-heading(var(--variant));
  ) --get-font-size(var(--variant)) /
    if(
    style(--level: body): --get-font-line-height-body(var(--variant));
    
    else: --get-font-line-height-heading(var(--variant));
  ) var(--font-family-heading);
}

/* prettier-ignore */
@function --get-font-size(--variant) returns <length> {
  result: if(
    style(--variant: sm): var(--font-scaled-sm);
    style(--variant: base): var(--font-scaled-base);
    style(--variant: md): var(--font-scaled-md);
    style(--variant: lg): var(--font-scaled-lg);
    style(--variant: xl): var(--font-scaled-xl);
    style(--variant: xxl): --xs-md-lg-up(
      var(--font-scaled-lg),
      var(--font-scaled-xl),
      var(--font-scaled-xxl)
    );

    else: var(--font-scaled-base)
  );
}

/* prettier-ignore */
@function --get-font-colour-heading(--variant <custom-ident>) returns <color> {
  result: if(
    style(--variant: xs): var(--dark-200);
    style(--variant: sm): var(--dark-200);
    style(--variant: base): var(--dark-200);
    style(--variant: md): var(--dark-100);
    style(--variant: lg): var(--dark-200);
    style(--variant: xl): var(--dark-300);
    style(--variant: xxl): var(--dark-400);


    else: var(--dark-400)
  );

   @container style(--mode: dark) {
     result: if(
       style(--variant: xs): var(--light-200);
       style(--variant: sm): var(--light-200);
       style(--variant: base): var(--light-200);
       style(--variant: md): var(--light-100);
       style(--variant: lg): var(--light-200);
       style(--variant: xl): var(--light-300);
       style(--variant: xxl): var(--light-400);

       else: var(--light-300)
     );
  }
}

/* prettier-ignore */
@function --get-font-colour-body(--variant <custom-ident>) returns <color> {
  result: if(
    style(--variant: xxl): var(--dark-300);
    style(--variant: xl): var(--dark-300);
    style(--variant: lg): var(--dark-300);
    style(--variant: md): var(--dark-200);
    style(--variant: base): var(--dark-400);
    style(--variant: sm): var(--dark-100);

    else: var(--dark-200)
  );

   @container style(--mode: dark) {
     result: if(
       style(--variant: xs): var(--light-200);
       style(--variant: sm): var(--light-200);
       style(--variant: base): var(--light-200);
       style(--variant: md): var(--light-100);
       style(--variant: lg): var(--light-200);
       style(--variant: xl): var(--light-300);
       style(--variant: xxl): var(--light-400);

       else: var(--light-300)
     );
  }
}

/* prettier-ignore */
@function --get-font-weight-heading(--variant <custom-ident>) returns <number> {
  result: if(
    style(--variant: sm): var(--font-weight-light);
    style(--variant: base): var(--font-weight-regular);
    style(--variant: md): var(--font-weight-medium);
    style(--variant: lg): var(--font-weight-semibold);
    style(--variant: xl): var(--font-weight-bold);
    style(--variant: xxl): var(--font-weight-black);

    else: var(--font-weight-medium)
  );
}

/* prettier-ignore */
@function --get-font-weight-body(--variant <custom-ident>) returns <number> {
  result: if(
    style(--variant: sm): var(--font-weight-regular);
    style(--variant: base): var(--font-weight-regular);
    style(--variant: md): var(--font-weight-regular);
    style(--variant: lg): var(--font-weight-regular);
    style(--variant: xl): var(--font-weight-regular);
    style(--variant: xxl): var(--font-weight-regular);

    else: var(--font-weight-medium)
  );
}

/* prettier-ignore */
@function --get-font-line-height-heading(--variant <custom-ident>) returns <number> {
  result: if(
    style(--variant: xxl): 1.2;
    style(--variant: xl): 1.3;
    style(--variant: lg): 1.33;
    style(--variant: md): 1.28;
    /* style(--variant: md): 1.95; */
    style(--variant: base): 1.5;
    style(--variant: sm): 1.7;

    else: 1.5
  );
}

/* prettier-ignore */
@function --get-font-line-height-body(--variant <custom-ident>) returns <number> {
  result:  if(
    style(--variant: xxl): 1.183;
    style(--variant: xl): 1.18;
    style(--variant: lg): 1.77;
    style(--variant: md): 2;
    style(--variant: base): 2;
    style(--variant: sm): 1.45;

    else: 2.2
  );
}

/* prettier-ignore */
@function --get-padding-start(--variant <custom-ident>) returns <length> {
  result: if(
    style(--variant: sm): 2rem;
    style(--variant: base): 2rem;
    style(--variant: md): 3rem;
    style(--variant: lg): 3rem;
    style(--variant: xl): 4rem;
    style(--variant: xxl): 5rem;

    else: 3rem
  );
}

/* prettier-ignore */
@function --get-flow-spacing(--flow <custom-ident>, --padding-block-start
  <length>) returns <length> {
  result: if(
    style(--flow: body): var(--padding-block-start);
    else: 0
  );
}
