@import url("../styles/main.css");

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
}

body {
  font-family: var(--font-inter), sans-serif;
  font-weight: var(--font-weight-normal);
}

h1 {
  font-family: var(--font-inter);
  font-weight: var(--font-weight-bold);
}
