@scope {
  & {
    --layout: [full-start] 3rem [hero-content-start] 1fr [hero-content-end] 3rem
      [full-end];
    --row: [full-start] minmax(3rem, auto) [hero-content-start heading-start]
      max-content [heading-end body-start] max-content [body-end
      hero-content-end] minmax(3rem, auto) [full-end];

    --angle: 45deg;
    --line-color: var(--light-500);
    --line-spacing: 1rem;
    --line-width: 1px;

    background-color: rgb(255 255 255 / 0.5);
    background-image: repeating-linear-gradient(
      var(--angle),
      transparent,
      transparent calc(var(--line-spacing) - var(--line-width)),
      var(--line-color) calc(var(--line-spacing) - var(--line-width)),
      var(--line-color) var(--line-spacing)
    );

    display: grid;
    grid-column: breakout;
    grid-template: var(--row) / var(--layout);
    height: calc-size(min-content, round(size, 1rem));
    padding: 1rem;
    view-transition-name: hero-home;
    /* height: var(--round-down); */

    @media screen and (width >= 768px) {
      padding: 3rem;
    }

    &::before {
      background-color: white;
      background-image: paint(grid), var(--grain-uri);
      content: "";
      grid-area: full;
    }

    .hero-home-heading {
      grid-area: heading / hero-content;
    }

    .hero-home-subheading {
      grid-area: body / hero-content;
    }
  }
}
