icon-hamburger {
  --line: 0.2rem;
  --bg: linear-gradient(
    to bottom,
    transparent 0 calc(50% - var(--line)),
    currentColor calc(50% - var(--line)) calc(50% + var(--line)),
    transparent calc(50% + var(--line)) 100%
  );

  aspect-ratio: 1;
  background: var(--bg);
  position: relative;
  width: var(--spacing-md);
  display: block;
  transition: background 0.3s ease;

  &::before,
  &::after {
    background: currentColor;
    content: "";
    display: block;
    height: calc(var(--line) * 2);
    position: absolute;
    width: stretch;
    transition:
      translate 0.3s ease,
      rotate 0.3s ease;
    transform-origin: center;
  }

  &::before {
    top: 0;
  }

  &::after {
    bottom: 0;
  }

  [aria-expanded="true"] & {
    background: transparent;

    &::before {
      translate: 0 calc(var(--spacing-md) / 2 - var(--line));
      rotate: 45deg;
    }

    &::after {
      translate: 0 calc(-var(--spacing-md) / 2 + var(--line));
      rotate: -45deg;
      bottom: calc(50% - var(--line));
    }
  }
}
