@scope {
  & {
    display: grid;
    grid-area: centre / logo;
    grid-template-columns: var(--layout, [logo] 1fr [button-toggle] 6rem);

    @media screen and (width >= 768px) {
      --layout: 1fr;

      background: var(--secondary-800);
      height: 4rem;
      translate: 0 -1rem;
    }
  }

  .logo {
    align-items: center;
    container: logo / inline-size;
    display: flex;
    gap: calc(var(--spacing-base) * 0.8);
    justify-content: center;
    margin: unset;
    text-decoration: none;
    user-select: none;
    outline-offset: 0.25rem;
    width: stretch;
  }

  .logo-text {
    --font-size: var(--font-scaled-sm);

    color: var(--light-100);
    font-family: var(--font-family-heading);
    font-size: var(--font-size);
    font-weight: var(--font-weight-bold);
    letter-spacing: 0.1rem;
    text-transform: uppercase;

    @container (width >= 9rem) {
      --font-size: calc(var(--font-scaled-base) * 0.9);
    }
  }
}
