@scope {
  & {
    --layout-sm: [logo] 1fr [button-toggle] 6rem;

    display: grid;
    grid-column: --xs-lg-up(header-logo, logo);
    grid-row: --xs-lg-up(header-logo, full-height);
    grid-template-columns: --xs-lg-up(var(--layout-sm), 1fr);
    grid-column: logo;
    grid-row: centre;
  }

  .logo {
    align-items: center;
    container: logo / inline-size;
    display: flex;
    gap: calc(var(--spacing-base) * 0.8);
    justify-content: start;
    margin: unset;
    text-decoration: none;
    user-select: none;
    width: stretch;
  }

  .logo-text {
    --font-size: var(--font-scaled-sm);

    color: var(--light-100);
    font-family: var(--font-family-heading);
    font-size: var(--font-size);
    font-weight: var(--font-weight-bold);
    letter-spacing: 0.1rem;
    text-transform: uppercase;

    @container (width >= 9rem) {
      --font-size: calc(var(--font-scaled-base) * 0.9);
    }
  }
}
