@scope {
  & {
    grid-column: 1 / -1;
    background-color: var(--light-100);
    height: var(--round-up);
    padding: var(--spacing-lg) 0;
    margin-block: var(--spacing-base) var(--spacing-md);
    max-width: 100%;

    overflow-x: auto;
    overflow-y: hidden;
    max-width: 100%;
  }
}
