@scope {
  & {
    --grid-vertical-color: oklch(from var(--light-200) l c h / 0.08);
    --grid-horizontal-color: oklch(from var(--light-200) l c h / 0.08);

    background: paint(grid) var(--secondary-900);
    display: grid;
    grid-auto-columns: auto;
    grid-auto-flow: row dense;
    grid-column: full;
    grid-row: footer;
    grid-template-columns: subgrid;
    justify-content: center;
    padding-block: var(--spacing-xl);
    view-transition-name: footer;
  }

  .header-logo {
    grid-column: 3 / span 1;
  }

  .nav {
    grid-column: 3 / -3;
  }

  .footer-section {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }
}
