@scope {
  & {
    --grid-vertical-color: oklch(from var(--light-200) l c h / 0.08);
    --grid-horizontal-color: oklch(from var(--light-200) l c h / 0.08);

    background: paint(grid) var(--secondary-700);
    display: grid;
    grid-auto-columns: auto;
    grid-auto-flow: row dense;
    grid-column: full;
    grid-row: footer;
    grid-template-columns: subgrid;
    justify-content: center;
    padding-block: var(--spacing-xl);
    row-gap: var(--spacing-xxl);
    view-transition-name: footer;
  }

  .footer-content {
    display: grid;
    grid-column: content;
    grid-template-columns: [nav-start logo-start] 1fr [nav-end logo-end];
    row-gap: var(--spacing-lg);

    background-image: var(--crosshatch-white-pattern);
    background-size: var(--box-hero-grid-size) var(--box-hero-grid-size);
    background-position:
      0 0,
      0 0;
    background-repeat: repeat, repeat;
    padding-block: var(--spacing-lg);

    logo-main {
      margin-inline: 2rem;
      padding: 1rem;
    }

    @media screen and (width >= 1480px) {
      align-items: start;
      grid-template-columns: subgrid [logo-start] [] [logo-end nav-start] [] [] [] [nav-end];
      grid-template-rows: [full-start] min-content [full-end];
    }
  }

  .footer-nav {
    display: grid;
    grid-column: nav;
    grid-template-columns: repeat(auto-fit, 10rem);
    row-gap: var(--spacing-md);

    @media screen and (width >= 1480px) {
      grid-template-columns: subgrid;
    }
  }

  .copyright {
    grid-column: 3 / -3;
    text-align: center;
  }
}
