@scope {
  & {
    --grid-vertical-color: oklch(from var(--light-200) l c h / 0.08);
    --grid-horizontal-color: oklch(from var(--light-200) l c h / 0.08);

    background: paint(grid) var(--secondary-700);
    display: grid;
    grid-auto-columns: auto;
    grid-auto-flow: row dense;
    grid-column: full;
    grid-row: footer;
    grid-template-columns: subgrid;
    justify-content: center;
    padding-block: var(--spacing-xl);
    view-transition-name: footer;
    row-gap: var(--spacing-lg);
  }

  .footer-content {
    grid-column: content;
    display: grid;
    grid-template-columns: subgrid [logo-start] [logo-end] [nav-start] [] [] [] [nav-end];
    grid-template-rows: [full-start] min-content [full-end];
    align-items: start;
  }

  .footer-nav {
    display: grid;
    grid-column: nav;
    grid-template-columns: subgrid;
  }

  .footer_copyright {
    grid-column: 3 / -3;
    text-align: center;
    color: var(--color-text-secondary);
    font-size: 0.875rem;
    margin-top: 2rem;
    color: var(--light-200);
  }
}
